body {
    background-color: lightgrey;
}
.btn-secondary {
  background-color: #343a40;
  border: 0;
  margin-left: -13px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  .card {
    display: inline-block;
    margin: 45px;
  }
}
.jumbotron {
  margin: 35px;
  background-color: lightgray;
}
.media {
  margin: 50px;
  >img {
    height: 200px;
  }
}